[phases.setup]
nixPkgs = ["nodejs-18_x", "python310", "postgresql"]

[phases.install]
cmds = [
  "npm install",
  "pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "npm run start:production"
